/* GENERAL CSS */
html {
    background: linear-gradient(69deg, #333366, #339999);	
    color: white;

    /* These settings enable for the gradient to cover the page's entire height (and not repeat) */
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-size: 12px;
    background-repeat: no-repeat;
    background-attachment: fixed;	
}

html, #cdDescriptionCtrl {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
}

.row {
    width: 70%;
    display: inline-block;
    padding: 5px;
    margin: 2% 0 2% 0;
}

.col {
    display: inline-block;
    width: 49%;
}

.sm { width: 43% }
.lg { width: 55% }

hr {
    width: 75%;
    color: white;
}

/* CONFIG CSS - BOTH INTERVIEW/EXAM */

#configForm {
    background-color: #339999;
    border: 1px black solid;
    border-radius: 3%;
}

#configContainer {
    border: 1px black solid;
    border-radius: 3%;
    background-color: #336666;
    box-shadow: 9px 10px 100px 1px rgba(0,0,0,0.5);
}

label {
    float: left;
    font-weight: bold;
}

input, select, .col button {
    float: left;
    /* margin-left: 7.5%; */

    width: 100%;
}

#startingTimeCtrl {
    font-family: Arial, Helvetica, sans-serif;
}

.range-wrap {
    position: relative;
    margin: auto;
}

.bubble {
    background: #333366;
    padding: 4px;
    position: absolute;
    border-radius: 4px;
    transform: translateX(-20%);
    bottom: 50%;

    /* Disable bubble text highlighting/selecting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

button {
    background-color: #333366;
    border-radius: 5px;
    transition-property: background-color, transform;
}

button:enabled {
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover, .addNewRow, .removeCurRow {
    filter: brightness(90%);
    transform: scale(1.03);
    transition-property: transform;
}

button:disabled {
    background-color: #5f9ea0;
    transform: scale(0.95);
    cursor: not-allowed;
}

#startButton {
    padding: 8px 32px;
    font-size: 20px;
}

#volumeButton {
    padding: 4px 16px;
}

/* CONFIG CSS - EXAM ONLY */

table {
	border: black 1px solid;
	padding: 0px;
	background-color: #2b8787;
	margin-bottom: 5px;
}

td {
    min-width: 100px;
    max-width: 100px;
}
  
.removeCurRow, .addNewRow {
	cursor: pointer;
	font-weight: bold;
    min-width: 10px;
    max-width: 10px;
	
	font-size: 20px;
	
	transition-property: background-color, transform;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.removeCurRow:hover, .addNewRow:hover {
	filter: brightness(70%);
}

.removeCurRow {
	color: red;
}

.addNewRow {
	color: rgb(3, 250, 3);
}

.examRow td {
    max-width: 50%;
}

.block {
	color: white;
	font-size: 24px;
	text-align: right;
}

.block-active {
	color: yellow;
	font-size: 30px;
	font-weight: bold;
}


.examRow {
	animation: popIn 0.2s 1;
}

.examRow input {
	float: none;
}

/* TODO: This looks nice, but apparently the border twitches sporadically */
/* #examCurrentTime {
    padding-left: 3.5%;
    border-left: 1px solid white;
} */

#examContainer > .currentTime {
	font-size: 220px;
}

#blocks {
	width: 20%;
}

#examTimerContainer {
	width: 95%;
	position: absolute;
	top: 15%;
}


#examTimerContainer > div.col.lg {
	width: 60%;
}


@keyframes popIn {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

@keyframes popOut {
	from {transform:scale(1)}
	to {transform:scale(0)}
}

/**
* The following CSS rules need sorting, because I am lazy
*/

#finishText {
	font-size: 150px !important;
	margin-top: 0 !important;
}

#examTimerContainer .currentTime {
	font-size: 240px;
}

#closeButton {
	color: #336666;
	font-size: 48px;
	
	position: absolute;
	left: 2%;
	top: 2%;
	
	cursor: pointer;
	stroke: white;	

    transition: all 0.25s;    
}

#closeButton:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

#cdDescriptionCtrl {
    width: 100%;
}

#cdTitle {
    font-size: 48px;
    margin-bottom: 0;
}

#cdDescription {
    font-size: 32px;
    margin-top: 0;
}


@media only screen and (max-width: 1366px) {
	.container {
		width: 80%;
	}
	
	#examTimerContainer > div.col.lg > h1:nth-child(1) > span {
		font-size: 160px;
	}
	
	#examTimerContainer > div.col.lg {
		margin-right: 235px;
	}
	
	#blocks {
		width: 40%;
	}
	
	#examTimerContainer {
		right: 10%;
	}
	
	#examTimerContainer > div.col.lg {
		width: 40%;
	}
	
	#logo {
		width: 40%;
	}
	
	#interviewTimerContainer {
		position: absolute;
		bottom: 5%;
		left: 5%;
	}
}