html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(69deg, #333366, #339999);
    color: white;

    /* These settings enable for the gradient to cover the page's entire height (and not repeat) */
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* CONFIGURATION STYLES */
.container {
    border: 1px black solid;
    border-radius: 3%;
    width: 50%;
    background-color: #336666;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
}

#configForm {
    background-color: #339999;
}

#configContainer {
    box-shadow: 9px 10px 100px 1px rgba(0,0,0,0.5);
}

.row {
    width: 70%;
    display: inline-block;
    padding: 5px;
    margin: 2% 0 2% 0;
}

.col {
    display: inline-block;
    width: 49%;
}

.sm { width: 43% }
.lg { width: 55% }

label {
    float: left;
    font-weight: bold;
}

input, .col button {
    float: left;
    margin-left: 7.5%;

    width: 100%;
}

#startingTimeCtrl {
      font-family: Arial, Helvetica, sans-serif;
  }

hr {
    width: 75%;
    color: white;
}

#startButton {
    width: 75%;
}

.range-wrap {
    position: relative;
    margin: auto;
}

.bubble {
    background: #333366;
    padding: 4px;
    position: absolute;
    border-radius: 4px;
    transform: translateX(-20%);
    bottom: 50%;

    /* Disable bubble text highlighting/selecting */
    -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

button {
    background-color: #333366;
    border-radius: 5px;
    transition-property: background-color, transform;
}

button:enabled {
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    background-color: #282858;
    transform: scale(1.03);
    transition-property: transform;
}

button:disabled {
    background-color: #5f9ea0;
    transform: scale(0.95);
    cursor: not-allowed;
}

#startButton {
    padding: 8px 32px;
    font-size: 16px;
}

#volumeButton {
    padding: 4px 16px;
}